*{
    margin:0;
    padding: 0;
}

#img_principe{
    width: 1366px;
    height: 806px;
    margin-left:10rem;
}
.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 20px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
display: flex;
align-items: center;

color: #FF4C13;
}

header nav a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	margin-right: 15px;
    font-size: 1.5rem;
    font-family: poppins;
}

header nav a:hover
 {
	color: rgb(110, 109, 109);
}
.logotipos{
    Background-color: #1d1d1d;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        margin-top: 3rem;
        margin-bottom:3rem;
}
.imgs{
    grid-column:1;
    grid-row: 1;
    grid-column: 1/2;
    
}
.img{
    grid-column:2;
}
.product-descrip{
    grid-column: 3;
    grid-row: 1;
    
}
.title-grid{
    width: 424px;
    height: 56px;
    left: 0px;
    top: 0px;
    font-family: Poppins; 
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.02em;
    color: #1D1D1D;
    margin-top:1rem;
    margin-left:3rem;
}
.price{
    width: 109px;
    height: 40px;
    left: 0px;
    top: 72px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    margin-left: 3rem;
    color: #1D1D1D;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 424px;
    height: 120px;
    left: 0px;
    top: 296px;
}

.black{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 10px;
    position: static;
    width: 424px;
    height: 56px;
    left: 0px;
    top: 0px;
    color:white;
    background: #1D1D1D;
    border-radius: 4px;
    margin-top:2rem;
    margin-left: 3rem;
    font-size:22px;
    font-family: Poppins;
    line-height: 24px;
    font-weight:bold;
}
.blue{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 10px;
    position: static;
    width: 424px;
    height: 56px;
    left: 0px;
    top: 0px;
    color:white;
    background: #4276FB;
    border-radius: 4px;
    margin-top:0.5rem;
    margin-left: 3rem;
    font-size:22px;
    font-family: Poppins;
    line-height: 24px;
    font-weight:bold;
}

.descrip{
    width: 424px;
height: 224px;
left: 0px;
top: 456px;
margin-top:5rem;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
margin-left: 3rem;
}

.item{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
flex-direction: row;
align-items: flex-start;
}
.card-img{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: static;
width: 340px;
height: 611px;
left: 0px;
top: 0px;
margin: auto;
cursor: pointer;
}

.card-img >img{
    width: 340px;
height: 511px;
left: 0px;
top: 0px;
}
.card-img :hover{
    transform:translateY(-25px);
    box-shadow: 0 12px 16px lightgray;
}
.letter{
    font-size:1.5rem;
    color: black;
    font-family: Poppins;
    margin-top:0.8rem;
}
.imgMini{
    display:flex;
    justify-content:center;
    border-radius:4px;
    margin: auto;
    margin-left: 3rem;
    margin-bottom: 3rem;
}

